/* noto-sans-tc-regular - chinese-traditional_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/noto-sans-tc-v37-chinese-traditional_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tc-500 - chinese-traditional_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/noto-sans-tc-v37-chinese-traditional_latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tc-600 - chinese-traditional_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/noto-sans-tc-v37-chinese-traditional_latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tc-700 - chinese-traditional_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/noto-sans-tc-v37-chinese-traditional_latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "tailwindcss";

@layer components {
  .keyword {
    @apply font-semibold text-red-500;
  }
}

@media (min-width: 768px) {
  /* Firefox */
  html {
    scrollbar-width: auto;
    scrollbar-color: theme("colors.neutral.300") theme("colors.neutral.50");
  }

  /* Webkit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: theme("colors.neutral.50");
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.neutral.300");
    border-radius: 8px;
    border: 3px solid theme("colors.neutral.50");
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme("colors.neutral.400");
  }
}

/* --- 行動裝置版 (Mobile) 滾動條樣式 --- */
/* 寬度小於 768px 時，覆蓋上面的樣式 */
@media (max-width: 767px) {
  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  html.scrollbar-visible {
    scrollbar-color: theme("colors.neutral.400") transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }

  html.scrollbar-visible ::-webkit-scrollbar-thumb {
    background: theme("colors.neutral.400");
  }
}
@theme {
  --font-sans: "Inter", "Noto Sans TC";
}
@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
