@import "tailwindcss";

@layer components {
  .keyword {
    @apply font-semibold text-red-500;
  }
}

@media (min-width: 768px) {
  /* Firefox */
  html {
    scrollbar-width: auto;
    scrollbar-color: theme("colors.neutral.300") theme("colors.neutral.50");
  }

  /* Webkit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: theme("colors.neutral.50");
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.neutral.300");
    border-radius: 8px;
    border: 3px solid theme("colors.neutral.50");
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme("colors.neutral.400");
  }
}

/* --- 行動裝置版 (Mobile) 滾動條樣式 --- */
/* 寬度小於 768px 時，覆蓋上面的樣式 */
@media (max-width: 767px) {
  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  html.scrollbar-visible {
    scrollbar-color: theme("colors.neutral.400") transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }

  html.scrollbar-visible ::-webkit-scrollbar-thumb {
    background: theme("colors.neutral.400");
  }
}
@theme {
  --font-sans: "Inter", "Noto Sans TC";
}
@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
